* {
  min-width: 0;
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  border: 0;
}

body {
  overflow-x: hidden;
}



/* --------------------------------- NAVBAR --------------------------------- */
nav {
  display: flex;
  justify-content: center;

  z-index: 20;
  /* position: fixed; */
  position: absolute;
  top: 0;

  width: 100%;
  height: auto;
  padding-top: 48px;
  padding-bottom: 48px;

  background-color: #ffffff;
  /* border: 1px dashed red; */
}

#nav-inner {
  display: flex;
  align-items: center;

  position: relative;

  width: 100%;
  max-width: 1440px;
  height: 40px;
  margin-left: 11.5%;
  margin-right: 11.5%;

  /* border: 1px dashed black; */
}

#nav-inner img {
  display: inline;

  height: 34px;
  margin-top: 6px;

  /* border: 1px dashed red; */
}

nav p {
  display: inline;

  margin-left: 30px;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #9e9aa7;
}

#first {
  margin-left: 40px;
}

#login-container {
  display: flex;
  align-items: center;

  position: absolute;
  top: 0;
  right: 0;

  height: 100%;

  /* border: 1px dashed red; */
}

#login {
  margin-right: 40px;
}

nav button {
  display: inline;

  width: 105px;
  height: 40px;

  background-color: #2acfcf;
  border-radius: 20px;

  font-family: "Poppins", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: white;
}



/* ----------------------- NAVBAR DROPDOWN NAVIGATION ----------------------- */
#hamburger-container {
  display: none;
}

#hamburger-menu {
  position: absolute;

  width: 25px;
  height: 20px;

  cursor: pointer;
}

/* @media (hover: hover) {
  #hamburger-menu:hover .hamburger-bar {
    background-color: #9b9b9b;
  }
} */

.hamburger-bar {
  position: relative;
  left: 0;
  right: 0;

  width: 100%;
  height: 3px;

  background-color: #9e9aa7;
  cursor: pointer;

  transition: transform 300ms ease-in-out, width 300ms ease-in-out, opacity 300ms ease-in-out;
}

.hamburger-bar-middle {
  margin: 6px 0px;
}



/* ----------------------------- SPLASH SECTION ----------------------------- */
#splash {
  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;

  width: 100%;
  /* height: 800px; */
  height: auto;
  padding: 230.5px 0;

  background-color: #ffffff;
  /* border: 1px dashed red; */
}

#splash-inner {
  position: relative;

  width: 100%;
  max-width: 1440px;
  margin: 0 11.5%;

  /* border: 1px dashed black; */
}

#splash-text-container {
  width: 100%;
  height: 100%;

  /* border: 1px dashed red; */
}

#splash-inner h1 {
  width: 600px;

  font-family: "Poppins", sans-serif;
  font-size: 76px;
  font-weight: 700;
  line-height: 115%;
  color: #34313d;
}

#splash-inner p {
  width: 600px;

  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 175%;
  letter-spacing: 1.1px;
  color: #9e9aa7;
}

#splash-inner button {
  width: 195px;
  height: 55px;
  margin-top: 40px;

  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;

  background-color: #2acfcf;
  border-radius: 30px;
}

#splash-inner img {
  position: absolute;
  top: 50%;
  right: -296px;

  transform: translate(0, -50%);
}

#shorten {
  display: grid;
  justify-content: center;
  align-items: center;

  position: absolute;
  bottom: -84px;

  width: 77%;
  max-width: 1440px;
  height: 168px;

  background-color: #3a3053;
  border-radius: 10px;
}

#shorten-inner {
  position: absolute;
  left: 64px;
  right: 64px;
  /* left: 5.75%;
  right: 5.75%; */

  height: 64px;

  /* border: 1px dashed yellow; */
}

#shorten-input {
  position: absolute;
  top: 0;
  left: 0;

  /* width: 769px; */
  width: 78.4%;
  height: 100%;
  padding-left: 33px;

  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #9e9aa7;

  background-color: white;
  border-radius: 10px;
}

#shorten-input::placeholder {
  color: #9e9aa7;
  opacity: 1;
}

#shorten-submit {
  position: absolute;
  top: 0;
  right: 0;

  /* width: 188px; */
  width: 19.2%;
  height: 100%;

  font-family: "Poppins", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: white;

  background-color: #2acfcf;
  border-radius: 10px;
}



/* ----------------------------- STATS SECTION ----------------------------- */
#stats {
  display: flex;
  justify-content: center;

  width: 100%;
  height: 909px;
  padding-top: 210px;

  background-color: #f0f1f6;

  /* border: 1px dashed red; */
}

#stats-inner {
  display: flex;
  flex-direction: column;
  align-items: center;

  position: relative;

  width: 100%;
  max-width: 1440px;
  margin: 0 11.5%;

  /* border: 1px dashed black; */
}

#stats h2 {
  width: 100%;

  font-family: "Poppins", sans-serif;
  font-size: 38px;
  font-weight: 700;
  text-align: center;
  color: #34313d;

  /* border: 1px dashed red; */
}

#stats p {
  width: 520px;
  padding-top: 12px;

  font-family: "Poppins", sans-serif;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  line-height: 175%;
  color: #9e9aa7;

  /* border: 1px dashed red; */
}



/* ----------------------------- BOOST SECTION ----------------------------- */
#boost {
  width: 100%;
  height: 250px;

  background-color: #3a3053;
}



/* --------------------------------- FOOTER --------------------------------- */
#footer {
  width: 100%;
  height: 310px;

  background-color: #232027;
}





/* -------------------------- MEDIA QUERY <= 1300 -------------------------- */
@media screen and (max-width: 1300px) {
  #nav-inner {
    margin-left: 8.625%;
    margin-right: 8.625%;
  }

  /* #splash {
    background-color: blue;
  } */

  #splash-inner {
    margin: 0 8.625%;
  }

  #splash-inner h1 {
    font-size: 61px;
  }

  #splash-inner p {
    width: 400px;
  }

  #shorten {
    width: 82.75%;
  }

  #shorten-inner {
    left: 5.75%;
    right: 5.75%;
  }

/* ----- */

  #stats-inner {
    margin: 0 8.625%;
  }
}



/* -------------------------- MEDIA QUERY <= 1100 -------------------------- */
@media screen and (max-width: 1100px) {
  nav {
    padding-top: 38px;
    padding-bottom: 38px;
  }

  #splash {
    padding: 184px 0;
  }

  #splash-inner h1 {
    width: 400px;
    font-size: 49px;
  }

  #splash-inner img {
    right: -252px;

    height: 386px;
  }

  #splash-inner button {
    margin-top: 35px;
  }

  #shorten {
    bottom: -66px;

    height: 132px;
  }

  #shorten-inner {
    height: 56px;
  }

/* ----- */

  #stats {
    padding-top: 160px;
  }

  #stats h2 {
    font-size: 32px;
  }
}



/* --------------------------- MEDIA QUERY <= 900 --------------------------- */
@media screen and (max-width: 900px) {
  nav {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  #nav-inner {
    margin-left: 5.75%;
    margin-right: 5.75%;
  }

  nav p {
    display: none;
  }

  #login-container {
    display: none;
  }

  #hamburger-container {
    z-index: 30;
    position: absolute;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    height: 100%;
    width: 25px;
  }

  #splash {
    padding: 161px 0;

    /* background-color: red; */
  }

  #splash-inner {
    margin: 0 5.75%;
  }

  #splash-inner img {
    right: -215px;

    height: 337px;
  }

  #splash-inner h1 {
    font-size: 40px;
  }

  #splash-inner p {
    width: 330px;

    font-size: 18px;
    letter-spacing: initial;
  }

  #shorten {
    bottom: -48px;

    width: 88.5%;
    height: 96px;
  }

  #shorten-inner {
    height: 48px;
  }

  #shorten-input {
    font-size: 18px;
  }

  #shorten-submit {
    font-size: 18px;
  }

/* ----- */

  #stats {
    padding-top: 130px;
  }

  #stats-inner {
    margin: 0 5.75%
  }

  #stats h2 {
    font-size: 26px;
  }

  #stats p {
    font-size: 16px;
  }
}



/* --------------------------- MEDIA QUERY <= 700 --------------------------- */
@media screen and (max-width: 700px) {
  #splash {
    padding: 100px 0;

    /* background-color: red; */
  }

  #splash-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #splash-text-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  #splash-inner img {
    position: relative;
    top: auto;
    left: 0;
    right: 0;

    margin: auto;

    transform: none;
  }

  #splash-inner h1 {
    margin-top: 40px;

    text-align: center;
  }

  #splash-inner p {
    margin-top: 10px;

    text-align: center;
  }

  #splash-inner button {
    margin-top: 30px;
    margin-bottom: 60px;
  }

  #shorten {
    bottom: -80px;

    height: 160px;
  }

  #shorten-inner {
    height: auto;
  }

  #shorten-input {
    position: relative;

    width: 100%;
    height: 48px;
  }

  #shorten-submit {
    position: relative;

    width: 100%;
    height: 48px;
    margin-top: 16px;
  }

/* ----- */

  #stats {
    padding-top: 160px;
  }

  #stats p {
    width: 300px;
    padding-top: 22px;
  }
}
